**/node_modules/
/target
tmp/
__MACOSX/
.DS_Store
Thumbs.db
.env
npm-debug.log
**/node_modules/
*node_modules/*
node_modules/*
node_modules/
/typings/globals
/typings/index.d.ts
/typings/modules
/target
tmp/
__MACOSX/
.DS_Store
Thumbs.db
.env
npm-debug.log
shorturl
sha256
